################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ROC Tool.csproj.dtbcache.json
/bin/Debug/ROC Tool.exe
/bin/Debug/ROC Tool.pdb
/obj/Debug/ROC_Tool.Form2.resources
/obj/Debug/ROC Tool.exe
/obj/Debug/ROC Tool.csproj.CoreCompileInputs.cache
/obj/Debug/ROC Tool.csproj.FileListAbsolute.txt
/obj/Debug/ROC Tool.csproj.GenerateResource.cache
/obj/Debug/ROC Tool.pdb
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
